#mainContent {
	border: 0.1em solid grey;
	width: 80%;
	min-height: 85%;
	margin: 0 auto;
	margin-top: 5em;
	margin-bottom: 5em;
	min-width: 1200px;
}

.progress {
	display: inline-block;
	width: 89%;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 0px;
	}

#startDiv {
	margin: 15px;
	margin-left: 2%;
	width: 85px;
	display: inline-block;
}

#infoDiv {
	margin-left: 10%;
	min-width: 35%;
	display: inline-block;
}
#infoTimeDiv {
	margin-left: 5%;
	width: 25%;
	display: inline-block;
}

#downloadButtonDiv{
	min-height: 70px;
	margin-left: 2%;
	margin-top: 15px;
	display: inline-block;
}

#outputTextarea{
	width: 96%; 
	height: 400px; 
	resize: none; 
	border: 0.1em solid grey; 
	overflow: auto; 
	margin: 2%;
	overflow-y: scroll;
}