#mainContent {
	border: 0.1em solid grey;
	width: 80%;
	min-height: 100%;
	margin-top: 5em;
	margin-left: 5em;
}

.progress {
	display: inline-block;
	width: 75%;
	height: 100%;
	margin-bottom: 0px;
	}

#startDiv {
	margin: 15px;
	width: 5%;
	display: inline-block;
}

#infoDiv {
	margin-left: 25%;
	width: 35%;
	display: inline-block;
}
#infoTimeDiv {
	width: 15%;
	display: inline-block;
}

#downloadButtonDiv{
	min-height: 70px;
	margin-left: 15px;
	margin-top: 15px;
	display: inline-block;
}